.tile {
  width: 70px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 10px;
  font-family: 'Courier New', monospace;
  font-size: 25px;
  font-weight: 700;
  color: rgb(18, 18, 126);
  user-select: none;
}

.tile:hover {
  cursor: pointer;
}

.hidden {
  background-color: rgb(18, 18, 126);
}
